@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.6%;
  --primary: 250 84% 54%;
  --primary-foreground: 210 40% 98%;
  --secondary: 215 85% 55%;
  --muted: 210 10% 96%;
  --border: 214 31.8% 91.4%;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --primary: 250 84% 54%;
  --primary-foreground: 210 40% 98%;
  --secondary: 215 85% 55%;
  --muted: 217.2 32.6% 17.5%;
  --border: 217.2 32.6% 17.5%;
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground;
}

html {
  scroll-behavior: smooth;
}
